nav {
  list-style-type: none;
  position: fixed;
  background-color: black;
  width: 100%;
  left: 0;
  top: 0;
}
.nav {
  display: inline;
  float: right;
  padding: 20px;
  margin: 5px;
  background-color: #2D2B2B;
}

a {
  text-decoration: none;
  color: #1DB954;
  font-family: Arial Black;
}
